<!DOCTYPE html>
<html>
  <body>
    <% if @session.has_key?(:screen_name) %>
      <p>
        Hello, <img src="<%= @session[:profile_image] %>">
        <b><%= @session[:screen_name] %></b>
      </p>

      <p><a href="/logout">Logout</a></p>
    <% else %>
      <p><a href="/request_token">Twitter Login</a></p>
    <% end %>
  </body>
</html>
