<!DOCTYPE html>
<html>
  <body>
    <h1>Twitter login test</h1>

    <% if @session.has_key?(:screen_name) %>
      <p>
        Hello, <img src="<%= @session[:profile_image] %>">
        <b><%= @session[:screen_name] %></b>
      </p>

      <p><a href="/logout">Logout</a></p>
    <% else %>
      <p><a href="/request_token"><img src="sign-in-with-twitter-gray.png"></a></p>
    <% end %>
  </body>
</html>
